* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: tomato;
    height: 100px;
}

.top-banner {
    background-color: #efeff0;
    padding: 0.3%;
}

.top-banner__nav {
    display: flex;
    justify-content: space-between;
    width: 62%;
    margin: auto;
}

.top-banner__nav a {
    text-decoration: none;
    color: #666666;
    font-weight: 800;
    font-size: 10.5px;
    letter-spacing: 0.1px;
    width: 33%;
    flex-shrink: 1;
}

.top-banner__nav a:first-child {
    text-transform: uppercase;
}

.top-banner__nav a:nth-child(2) {
    text-align: center;
}

.top-banner__nav a:last-child {
    text-align: right;
}

.header__top {
    display: flex;
    justify-content: space-between;
    width: 62%;
    background-color: aqua;
    margin: auto;
    height: 50%;
}

.header__nav--category {
    width: 33%;
    height: auto;
    background-color: green;
    align-items: flex-end;
    display: flex;
}

.header__nav--category ul {
    display: inherit;
}

.header__nav--category ul li {
    list-style-type: none;
    margin-right: 0.5rem;
}

.header__nav--category ul li a {
    text-decoration: none;
    padding: 6px 18px;
    color: black;
    font-weight: 700;
    font-size: 1rem;
    display: block;
}

.header__nav--category ul li a:hover {
    background-color: aqua;
}

#logo-image {
    width: 132px;
}

#login {
    background-color: green;
    width: 33%;
}
