body {
    background-color: #F0EFEC;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    padding: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.hero {
    background-color: cornflowerblue;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

main {

}

.info-box{
    background-color: red;
    display: flex;
    flex-direction: row;
    padding: 20px;

}
.info-img{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}
.info-img img{
    width: 50%;
    height: auto;
    justify-content: center;
    align-items: center;
}
.info-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;

    
}

footer{
    padding: 20px;
    background-color: blue;
    display: flex;
    justify-content: center;
}
p, h1 {
    color:antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
