body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
}

/*SLIDESHOW CONTAINER*/
.slide__container{
    padding-bottom: 40px;
    width: 100%;
    margin: 0;
    height: 650px;
    display: flex;
    flex-direction: column;
}

    .slide__text p:first-child {
        font-size: 25px;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 2px;
    }
    .slide__text p:last-child {
        font-size: 28px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
        line-height: 28px;
        margin-top: 0;
    }

/*KNAPPER OG OSV*/
.category__box {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .category__box p {
        font-weight: bold;
        margin-left: 5px;
    }

    button {
        background-color: black;
        color: white;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        border-radius: 2px;
        margin: 0 5px 0 5px;
        width: 100px;
    }

    button, button:focus, button:active {
        outline: none !important;
        box-shadow: none !important;
        border: none;
    }

    button:hover {
        background-color: #272727;
    }
    
/*SLIDESHOW*/
.slide__box{
    max-width: 80%;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
}

    .model {
        display: none;
        width: 100%;
    }

    .model:first-child {
        display: block;
    }

    .model img {
        width: 100%
    }

    .slide__text {
        margin-top: 10px;
    }

/*SLIDESHOW - PREV & NEXT*/
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: auto;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    padding: 5px;
}

    .next {
        right: 0;
    }

    .prev:hover, .next:hover {
        color: #272727;
    }

    .prev:focus, .next:focus, .prev:active, .next:active {
        outline: none !important;
        color: white !important;
    }

    .fade {
        animation-name: fade;
        animation-duration: 2s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

/*TABLET*/
@media only screen and (min-width:768px) {
    .slide__container {
        display: flex;
        flex-direction: row;
        height: 450px;
        position: relative;
    }

    /*KATEGORI BOKS*/
        .category__box {
            width: 50%;
            padding: 20px;
            position: absolute;
            bottom: 10px;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .category__box p {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .category__box .buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 5px 5px 0 0;
        }

        button {
            display: inline-block;
            margin: 5px;
        }

    /*SLIDE SHOW*/
        .slide__box {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 100%;
        }

        .model {
            width: 50%;
            display: flex;
            flex-direction: row;
        }

        .model img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .slide__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            margin-left: 20px;
            text-align: left;
        }
}